$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bgColor: #FAFAFA;

@mixin transition($param){
  -webkit-transition: $param;
  transition: $param;
}

@mixin shadow($param){
  -moz-box-shadow: $param;
  -webkit-box-shadow: $param;
  box-shadow: $param;
}

@mixin boxsizing($param){
  -moz-box-sizing: $param;
  -webkit-box-sizing: $param;
  box-sizing: $param;
}

body, html{
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.input-box {
  height: 48px;
  width: 90%;
  outline: none;
  padding: 0 5%;
  border: 1px solid #FFF;
  font-size: 1rem;
  @include transition(0.2s all linear);
}

.input-box.editing, .head-input.editing {
  border-color: #FFF;
  outline: none;
  border: 1px solid rgba(0, 128, 255, 1);
  z-index: 1;
  position: relative;
  @include shadow(0px 0px 4px rgba(0, 128, 255, 0.5));
}

.head-input {
  height: inherit;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-color: #EFEFEF;
}

.item-input {
  background-color: $bgColor;
}

.archive button, .active button {
  position: absolute;
  border: 0;
  background: 0;
  top: 0;
  right: 0%;
  height: 48px;
  width: 48px;
  color: #999;
  outline: none;
  @include transition(0.2s all linear);
}

.active button{
  color: #bbb;
}

.item {
  height: 48px;
  line-height: 48px;
  position: relative;
  padding: 0 5%;
  border: 1px solid $bgColor;
  border-bottom: 1px solid #efefef;
  background-color: $bgColor;
  @include transition(0.2s all linear);
}

.archive {
  color: #ccc;
}

.archive .msg-content {
  text-decoration: line-through;
}

.msg-content {
  overflow: hidden;
}

.hiddenBtn{
  display: none;
}

.showBtn{
  display: block;
}
