$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@mixin transition($param){
	-webkit-transition: $param;
	transition: $param;
}

@mixin shadow($param){
	-moz-box-shadow:    $param;
  -webkit-box-shadow: $param;
  box-shadow:         $param;
}

@mixin boxsizing($param){
	-moz-box-sizing:    $param;
  -webkit-box-sizing: $param;
  box-sizing:        $param;
}

body, html{
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	padding: 0;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.input-box {
  height: 48px;
  width: 94%;
  outline: none;
  padding: 0 3%;
  border-right: 0;
  border-left: 0;
  @include transition(0.2s all linear);
  font-size: 1rem;
}

.input-box.editing {
  border-color: #FFF;
  @include shadow(0px 0px 4px rgba(0, 128, 255, 0.5));
  outline: none;
  border: 1px solid rgba(0, 128, 255, 1);
  z-index: 1;
  position: relative;
}

.input-box.item {
	border-top: 0px;
	@include transition(0.2s all linear);
	@include boxsizing(content-box);
}

.archive button, .active button {
  position: absolute;
  border: 0;
  background: 0;
  top: 0;
  right: 0%;
  height: 48px;
  width: 48px;
  @include transition(0.2s all linear);
  color: #999;
}

.archive button:hover, .archive button:active, .active button:hover {
	font-size: 1em;
}

.item{
	height: 48px;
	line-height: 48px;
	position: relative;
	@include transition(0.2s all linear);
	padding: 0 3%;
	background-color: #FAFAFA;
}

.active.item, .archive.item{
	border-bottom: 1px solid #efefef;
}

.active.item{
	@include boxsizing(border-box);
}

.item:nth-clild(2n) {
	background-color: #EFEFEF;
}

.archive {
	color: #ccc;
}

.archive .msg-content {
	text-decoration: line-through;
}

.msg-content {
	overflow: hidden;
}

.hiddenBtn{
	display: none;
}

.showBtn{
	display: block;
}