$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@mixin transition($param){
	-webkit-transition: $param;
	transition: $param;
}

@mixin shadow($param){
	-moz-box-shadow:    $param;
  -webkit-box-shadow: $param;
  box-shadow:         $param;
}

body, html{
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	padding: 0;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.input-box {
  height: 48px;
  width: 94%;
  outline: none;
  padding: 0 3%;
  border-right: 0;
  border-left: 0;
  @include transition(0.2s all linear);
  font-size: 1rem;
}

.input-box.active {
  border-color: #FFF;
  @include shadow(0px 0px 4px rgba(0, 128, 255, 0.5));
  outline: none;
}

.input-box.item {
	border-top: 0px;
	@include transition(0.2s all linear);
}

.archive button {
  position: absolute;
  border: 0;
  background: 0;
  top: 0;
  right: 0%;
  height: 48px;
  width: 48px;
  @include transition(0.2s all linear);
  color: #ccc;
}

.archive button:hover, .archive button:active {
	font-size: 2em;
}

.item{
	height: 48px;
	line-height: 48px;
	position: relative;
	@include transition(0.2s all linear);
	padding: 0 3%;
	border-bottom: 1px solid #efefef;
}

.item:nth-clild(2n) {
	background-color: #EFEFEF;
}

.archive {
	color: #ccc;
}

.archive .msg-content {
	text-decoration: line-through;
}

.msg-content {
	overflow: hidden;
}

.close-btn {
	opacity: 0;
	height: 0px;
	overflow: hidden;
	@include transition(0.2s all linear);
}

.archive .close-btn {
	opacity: 1;
	height: 24px;
}